<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <img src="../../../assets/playIt logo.jpg" alt="logo img">
                <h2 class="text-muted">play<span class="danger">It</span></h2>
            </div>
            <div class="close" id="close-btn">
                <span class="material-icons-sharp">
                    close
                </span>
            </div>
        </div>
        <app-sidebar></app-sidebar>
    </aside>


    <!-- Main Mindow Section -->

    <!-- Upper cards -->

    
   
    <div class="insights">

        <!-- right side  of window -->
        <div class="right">
            <div class="top">
                <button id="menu-btn">
                    <span class="material-icons-sharp">menu</span>
                </button>
                <div class="theme-toggler">
                    <span class="material-icons-sharp active">light_mode</span>
                    <span class="material-icons-sharp">dark_mode</span>
                </div>
                <div class="profile">
                    <div class="info">
                        <p>Hey, <b>Akash</b></p>
                        <div class="role">
                            <small class="text-muted">Admin</small>
                        </div>
                    </div>
                    <div class="profile-photo">
                        <img src="../../../assets/profile.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div class="bclr">
        <h1 style="margin-top: 50px;">Map Contest Fixture</h1>

        <form  (ngSubmit)="add()" >

            &nbsp;&nbsp;&nbsp;&nbsp;

            <mat-form-field style="width: 30%;">
                <mat-label>Match</mat-label>
                <mat-select (selectionChange)="clicked1($event)" [(ngModel)]="mapContestFixture.matchid" name="matchid">
                  <mat-option *ngFor="let m of matchfixtures" [value]="m.id">
                    {{m.team1name}} vs {{m.team2name}} <span style="float:right">({{m.id}})</span>
                  </mat-option>
                </mat-select>
              </mat-form-field>

              &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;

              <mat-form-field style="width: 30%;">
                <mat-label>Contest</mat-label>
                <mat-select [(ngModel)]="mapContestFixture.contestid" name="contestid">
                  <mat-option  *ngFor="let c of filteredContests" [value]="c.id">
                    {{c.contestname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <button   mat-raised-button type="submit" color="accent">Add</button>
         

        </form>
  

        </div>

        
<!-- 
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Match</th>
                    <th>Contest</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let data of mapcontestfixturedata">
                    <td>{{ data.id }}</td>
                    <td *ngIf="data.id===editingRowId">{{data.matchname}}
                        <mat-form-field style="width: 30%;">
                            <mat-label>{{data.matchname}}</mat-label>
                            
                            <mat-select [(ngModel)]="mapContestFixture.matchid" name="matchid">
                              <mat-option *ngFor="let m of matchfixtures" [value]="m.id">
                                {{m.team1name}} vs {{m.team2name}} <span style="float:right">({{m.id}})</span>
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        <input [(ngModel)]="row.name" [disabled]="row.id!==editingRowId"/>
                    </td>
                    
                    <td *ngIf="data.id===editingRowId">
                        <mat-form-field style="width: 30%;">
                            <mat-label>{{data.contestname}}</mat-label>
                            <mat-select [(ngModel)]="mapContestFixture.contestid" name="contestid">
                              <mat-option  *ngFor="let c of contests" [value]="c.id">
                                {{c.contestname}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        <input [(ngModel)]="row.desc" [disabled]="row.id!==editingRowId"/>
                    </td>
                    <td>
                        <button (click)="editRow(data)">Edit</button>
                        <button   mat-raised-button type="submit" color="accent">Add</button>
                    </td>

                </tr>
            </tbody>
        </table>
        <button (click)="addRow()">Add Row</button> -->

        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Match Id</th>
                    <th>Match Name</th>
                    <th>Contest Id</th>
                    <th>Contest Name</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of mapcontestfixturedata">
                    <td>{{data.id}}</td>
                    <td>{{data.matchid}}</td>
                    <td>{{data.matchname}}</td>
                    <td>{{data.contestid}}</td>
                    <td>{{data.contestname}}</td>
                    <td> <span style="cursor:pointer" (click)="delete(data.id)" class="material-icons-sharp danger">
                        delete
                        </span></td>
                </tr>
            </tbody>
        </table>
       

        
    </div>
