.main{
    margin-top: 2rem;
}

.c{
    display: flex;
    align-items: center;
    
    gap:2rem;
    margin-bottom: 0.7rem;
}

.add-team{
    display: flex;
    justify-content: center;
    
    background-color: transparent;
    border: 2px dashed var(--color-primary);
    color: var(--color-primary);

    border-radius: var(--border-radius-3);
    padding : 0.1rem var(--card-padding);
   box-shadow: var(--box-shadow);
   transition: all 300ms ease;
   padding-bottom: 0px;
   
}

.add-team:hover{
   box-shadow: none;
   cursor: pointer;
}

.main h2{
    margin-bottom: 0.8rem;
}

.main table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.main table:hover{
    box-shadow: none;
}

.main table tbody td{
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    color: var(--color-dark-variant);

}

.main table tbody tr:last-child td{
    border: none;
}

.main a{
    text-align: center;
    display: block;
    margin: 1rem auto;
    color: var(--color-primary);
}

.country-img{
    width: 30px;
   
}

