.sidebar{
 
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

h3{
    font-weight: 500;
}

.sidebar a{
    padding-top: 20px;
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: cen;
    position: relative;
    height: 3.7rem;

    transition: all 300ms ease;
}

.sidebar a span{
    font-size: 1.6rem;
    transition:  all 300ms ease;
}

.sidebar a:last-child{
    position: absolute;
    bottom: 3rem;
    width: 100%;
}

.sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

.sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

.sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

.sidebar a:hover{
    color: var(--color-primary);
}

.sidebar a:hover span{
    margin-left: 1rem;
}

.sidebar .message-count{
    font-size: 11px;
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    margin-bottom: 8px;
    border-radius: var(--border-radius-1);
}