
<div class="sidebar">
    <a routerLink="/dashboard/matchfixtures">
        <span class="material-icons-sharp">
            grid_view
        </span>
        <h3>Match Fixtures</h3>
    </a>

    <a href="#" class="active">
        <span class="material-icons-sharp">
            rule
            </span>
        <h3>Game Rules</h3>
    </a>

    <a  routerLink="/dashboard/players">
        
            <span class="material-icons-sharp">
                sports_handball
                </span>
        <h3>Players</h3>

        <span class="message-count" style="font-size:11px;">21</span>
    </a>

    <a routerLink="/dashboard/teams">
        <span class="material-icons-sharp">
            diversity_3
            </span>
        <h3>Teams</h3>
        <span class="message-count" style="font-size:11px;">7</span>
    </a>

    <a routerLink="/dashboard/context">
        <span class="material-icons-sharp">
            sports_cricket
            </span>
        <h3>Create Contest</h3>
    </a>

    <a routerLink="/mapContestFixture">
        <span class="material-icons-sharp">
            sports_cricket
            </span>
        <h3>Map Contest Fixture</h3>
    </a>



    <a href="#">
        <span class="material-icons-sharp">
            logout
            </span>
        <h3>Logout</h3>
    </a>
</div>